$blue: #0000dd;
$red: #dd0000;
$grey: #dddddd;

a {
  color: black;
  cursor: pointer;
}

.RideList {
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  white-space: nowrap;
  width: 25vw;
  z-index: 2;

  & div:first-child {
    font-weight: bold;
    border-bottom: 2px solid $grey;
    top: 0;
  }

  & div {
    border-bottom: 1px solid $grey;
    padding: .25rem .5rem;

    &.selected {
      background-color: $grey;
      & a { color: $blue; }
    }
  }
}

.Controls {
  background-color: white;
  position: absolute;
  width: 200px;
  z-index: 2;

  & div {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: .25rem .5rem;
    width: 90%;
    &.hidden { display: none; }
  }
}
